/* src/app/features/ingreso/ingreso.component.css */

.btn-default{
  background-color: #002c76;
  border:1px solid #002c76;
  color:#eceff4;
}

.btn-default:disabled{
  background-color: #eaeef2;
  color:#c5c8cb;
  border:1px solid #eaeef2;
}

.container-default{
  background-color: #f7fbff;
  border: 1px solid #8aacd4;
  width: 50%;
}
label{
  color:#305492
}